<div class="container">

    <div class="row">
        <div class="col-md-4 align-self-center p-3 mb-2 bg-light text-dark">
            <div class="col-md-12 text-center">
                <img width="206" src="@Url.Content("~/Images/Map.png")" class="img-responsive img-fluid" alt="">
                <h1 class="text-center">DIRECCION</h1>
                <p>Via de Evitamiento Sur Nro 129</p>
                <p>Tercer Piso</p>
                <p>Cajamarca, Perú</p>

                <img width="206" src="@Url.Content("~/Images/Telefono.png")" class="img-responsive img-fluid" alt="">
                <div class="contact-list-col2">
                    <h1 id="TituloTelefono" class="text-center">TELÉFONOS</h1>
                    <a href="tel:51076600437" class="contact-info-link">Ofic. Central +51 076 600 437</a><br>
                    <a href="tel:51976864249" class="contact-info-link">Gerente General. +51 976 864 249</a><br>
                    <a href="51963306188" class="contact-info-link">Jef. Operac.  +51 963 306 188</a>
                </div>

                <img width="206" src="@Url.Content("~/Images/Correo.png")" class="img-responsive img-fluid" alt="">
                <div class="contact-list-col2">
                    <h1 class="text-center">CORREO ELECTRONICO</h1>
                    <a href="mailto:atencionalcliente@transmieirl.com.pe" class="contact-info-link">atencionalcliente@transmieirl.com.pe</a>
                    <a href="mailto:wilder.micha@transmieirl.com.pe" class="contact-info-link"><br>wilder.micha@transmieirl.com.pe</a><br>
                    <a href="mailto:jefaturaoperaciones@transmieirl.com.pe" class="contact-info-link">jefaturaoperaciones@transmieirl.com.pe</a>
                </div>
            </div>           
        </div>
        <div class="col align-self-start">
            <img src="@Url.Content("~/Images/CamionFoto.jpg")" class="img-responsive img-fluid" alt="">
            <img src="@Url.Content("~/Images/CamionFoto.png")" class="img-responsive img-fluid" alt="">
            <img src="@Url.Content("~/Images/CamionFoto2.jpg")" class="img-responsive img-fluid" alt="">
        </div>
        
    </div>
</div>